<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="cafe_system.Properties.Settings.cafe_systemConnectionString"
            connectionString="Data Source=cafesystem.database.windows.net;Initial Catalog=cafe-system;User ID=cafesystem;Password=Mugandmufine$"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>